.wrapper {
    width: 70.98%;
    margin:auto;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
 }
@media (max-width: 375px) {
.wrapper {
width: 97%;
margin:auto;
background-color: #b7d8d8;} }
.header {
background-color: #464a4a9c;
width: 100%;
height: 199px;
position: relative;
}
.header-info_list {
background: linear-gradient(to right, rgb(102, 102, 102), rgb(0, 0, 0));
width: 52%;
height: 172px;
position: absolute;
margin-left: 41%;
margin-top: 11px;
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
@media (max-width: 375px) {
.header-info_list {
    background: linear-gradient(to right, rgb(102, 102, 102), rgb(0, 0, 0));
width: 68%;
height: 93px;
position: absolute;
margin-left: 28%;
margin-top: 52px;
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
} }
.myh1 {
    margin-top: -57px;
 }
.header-photo {
position: absolute;
width: 33%;
height: 199px;
}
.photo {
width: 46%;
height: AUTO;
margin-left: 12%;
margin-top: 2%;
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.my_name {
font-size: 3vw;
color: white;
margin-left: 30%;
position: absolute;
font-family: "Big Shoulders Text", cursive;
}
@media (max-width: 375px) {
.my_name {
font-size: 5vw;
color: white;
margin-left: 32%;
position: absolute;
font-family: "Big Shoulders Text", cursive;
} }

.my_github {
margin-top: 59px;
margin-left: 45%;
font-size: 1.4vw;
color:  white;
position: absolute;
font-family: "Big Shoulders Text";
}
@media (max-width: 375px) {
.my_github {
margin-top: 24px;
margin-left: 43%;
font-size: 4.4vw;
color:  white;
position: absolute;
font-family: "Big Shoulders Text";
} }
.my_contact {
margin-top: 112px;
margin-left: 44%;
font-size: 1.4vw;
color:  white;
position: absolute;
font-family: "Big Shoulders Text";
}
@media (max-width: 375px) {
.my_contact {
margin-top: 53px;
margin-left: 40%;
font-size: 4.4vw;
color:  white;
position: absolute;
font-family: "Big Shoulders Text";
}}


.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
  }
  
  .nav-collapse li {
    width: 100%;
    display: block;
  }
  
  .js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
  }
  
  .nav-collapse.opened {
    max-height: 9999px;
  }
  
  .disable-pointer-events {
    pointer-events: none !important;
  }
  
  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  @media screen and (min-width: 40em) {
    .js .nav-collapse {
      position: relative;
    }
    .js .nav-collapse.closed {
      max-height: none;
    }
    .nav-toggle {
      display: none;
    }
  }
  
  
  /* ------------------------------------------
    DEMO STYLES
  --------------------------------------------- */
  
  body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #37302a;
    background: #fff;
    font: normal 100%/1.4 sans-serif;
  }
  
  section {
    border-bottom: 1px solid #999;
    text-align: center;
    padding: 100px 0 0;
    height: 800px;
    width: 100%;
  }
  
  h1 {
    margin-bottom: .5em;
  }
  
  p {
    width: 90%;
    margin: 0 auto;
  }
  
  
  /* ------------------------------------------
    FIXED HEADER
  --------------------------------------------- */
  
  header {
    background: #f4421a;
    position: fixed;
    z-index: 3;
    width: 100%;
    left: 0;
    top: 0;
  }
  
 
  
  
  /* ------------------------------------------
    MASK
  --------------------------------------------- */
  
  .mask {
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    background: rgba(0,0,0, .5);
    visibility: hidden;
    position: fixed;
    opacity: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
  
  .android .mask {
    -webkit-transition: none;
    transition: none;
  }
  
  .js-nav-active .mask {
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (min-width: 40em) {
    .mask {
      display: none !important;
      opacity: 0 !important;
    }
  }
  
  
  /* ------------------------------------------
    NAVIGATION STYLES
  --------------------------------------------- */
  
  .fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .nav-collapse,
  .nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .nav-collapse,
  .nav-collapse ul {
    list-style: none;
    width: 100%;
    float: left;
  }
  
  @media screen and (min-width: 40em) {
    .nav-collapse {
      float: right;
      width: auto;
    }
  }
  
  .nav-collapse li {
    float: left;
    width: 100%;
  }
  
  @media screen and (min-width: 40em) {
    .nav-collapse li {
      width: auto;
    }
  }
  
  .nav-collapse a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    border-top: 1px solid white;
    text-decoration: none;
    background: #343a40;
    padding: 0.7em 1em;
    color: #fff;
    width: 100%;
    float: left;
  }
  
  .nav-collapse a:active,
  .nav-collapse .active a {
    background: #15171a;
  }
  
  @media screen and (min-width: 40em) {
    .nav-collapse a {
      border-left: 1px solid white;
      padding: 1.02em 2em;
      text-align: center;
      border-top: 0;
      float: left;
      margin: 0;
    }
  }
  
  .nav-collapse ul ul a {
    background: #ca3716;
    padding-left: 2em;
  }
  
  @media screen and (min-width: 40em) {
    .nav-collapse ul ul a {
      display: none;
    }
  }
  
  .up_button {
    width: 149px;
    height: 37px;
    top: 637px;
    border: 0px;
    padding: 7px 0px;
    margin-left: 1150px;
    font-family: 'Righteous', cursive;
    font-size: 13px;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #3a3a3a;
    display: block;
    position: fixed;
    box-shadow: 0px 0px 3px 0px rgba(255,0,0,1);
}

  /* ------------------------------------------
    NAV TOGGLE STYLES
  --------------------------------------------- */
  
 
  .nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    text-indent: -300px;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 55px;
    float: right;
  }
  
  .nav-toggle:before {
    color: #fff; /* Edit this to change the icon color */
    font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261"; /* Hamburger icon */
    text-indent: 0;
    speak: none;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .nav-toggle.active:before {
    font-size: 24px;
    content: "\78"; /* Close icon */
  }

.expansion_panel {
width: 100%;
height: 208px;
background-color: #00000047;
transition: opacity 1s;
opacity: 0;
}

@media (max-width: 375px) {
.expansion_panel {
display: block;
width: 97%;
height: 167px;
background-color: #00000082;
} }

.ed_list {
    position: relative;
    top: 27px;
}

.socialbutton {
background-color: #343a40;
display: inline-block;
color:black;
width: 100%;
height: 73px;
text-align: center;
font-weight: bold;
text-decoration: none;
margin-top: 0px;
cursor: pointer;
font-family: 'Righteous', cursive;
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 5px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 5px -5px rgba(0,0,0,0.75);
box-shadow: 1px 4px 5px -5px rgba(0,0,0,0.75);}
.socialbutton:hover {
    background-color: red;
    display: inline-block;
    color: black;
    width: 100%;
    height: 73px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
    box-shadow:1px 4px 5px -3px rgba(255, 0, 224, 0.75);}
.droplink li{display:block}
.droplink li a{
padding:5px 12px 4px 34px;
margin:1px;
display:block;
background-repeat:no-repeat;
background-position: 10px 3px}
.droplink li:hover {background-color: rgb(83, 71, 71)}

.socialbutton_element {
position: absolute;
font-size: 25px;
left: 78%;
margin-top: 12px;
/* transform: rotate(90deg); */
color: #cdd4d1;
}
.education {
position: absolute;
left: 43%;
font-size: 25px;
letter-spacing: 0.1em;
right: auto;
color: #dee2e6;
margin-top: 13px;
}
@media (max-width: 375px) {
.education {
position: absolute;
color: #000;
left: 38%;
letter-spacing: 0.1em;
right: auto;
margin-top: 23px;
font-size: 25px;
text-align: center;
font-weight: bold;
text-decoration: none;
} }
.shool {
position: absolute;
color: #000;
left: 24%;
right: auto;
margin-top: 3px;
font-size: 2vw;
text-align: center;
font-weight: bold;
text-decoration: none;
}
@media (max-width: 375px) {
.shool {
position: absolute;
color: #000;
left: 24%;
right: auto;
margin-top: 3px;
font-size: 5.5vw;
text-align: center;
font-weight: bold;
text-decoration: none;
} }
.college {
position: absolute;
color: #000;
left: 24%;
right: auto;
margin-top: 40px;
font-size: 2vw;
text-align: center;
font-weight: bold;
text-decoration: none;
}
@media (max-width: 375px) {
.college {
position: absolute;
color: #000;
left: 24%;
right: auto;
margin-top: 30px;
font-size: 5.5vw;
text-align: center;
font-weight: bold;
text-decoration: none;
} }
.RSShool_Courses {
position: absolute;
color: #000;
left: 24%;
right: auto;
margin-top: 77px;
font-size: 2vw;
text-align: center;
font-weight: bold;
text-decoration: none;
}
@media (max-width: 375px) {
.RSShool_Courses {
position: absolute;
color: #000;
left: 24%;
right: auto;
margin-top: 57px;
font-size: 5.5vw;
text-align: center;
font-weight: bold;
text-decoration: none;
} }
.skil_list h2 {
    position: absolute;
    color: #fff;
    left: 42%;
    font-size: 2.3vw;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Righteous';
    text-shadow: 2px 2px 3px #000000;
}
.skil_list li {
    position: relative;
    color: #fff;
    text-align: left;
    top: 49px;
    margin-top: 19px;
    margin-left: 2%;
    font-size: 2.3vw;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Righteous';
    text-shadow: 2px 2px 3px #000000;
}

.my_project {
    position: absolute;
    color: #fff;
    left: 42%;
    right: auto;
    margin-top: 37px;
    font-size: 2.3vw;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Righteous';
    text-shadow: 2px 2px 3px #000000;
}
.my_project_one {
    position: absolute;
    color: #fff;
    left: 39%;
    right: auto;
    margin-top: 175px;
    font-size: 1.3vw;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Righteous';
    text-shadow: 2px 2px 3px #000000;
}

.slider_block {
    margin-top: 231px;
    width: 101%;
    margin-left: 0px;
    height: 382px;
}
@media (max-width: 375px) {
.slider_block {
display: none;
margin-top: 250px;
width: 97%;
height: 303px;
background-color: #a4f6ff70;
} }

.slider-container {
    width: 82.3%;
    margin-left: 10%;
    height: auto;
}
.slider_main_button {
    width: 66%;
    margin-left: 24.5%;
    height: 100%;
    left: 0px;
    margin-top: 0%;
    position: absolute;
    z-index: 5;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
.swipe-block {
display: none;
width: 97%;
margin-top: 191px;
height: 383px;
}
@media (max-width: 375px) {
.swipe-block {
display: flex;
width: 97%;
margin-top: 191px;
height: 383px;
background-color: #ff9b9bd6;
} }
.swiper-container {
display: none;
width: 50%;
height: 50%;
}
@media (max-width: 375px) {
.swiper-container {
display: flex;
width: 100%;
height: 100%;
} }
.button_one {
display: none;
background: #8a0000;
border: 1px solid #7a7b7e;
width: 60px;
height: 60px;
border-radius: 30px;
position: absolute;
margin-top: 26px;
margin-left: 74%;
}
@media (max-width: 375px) {
.button_one {
background: #8a0000;
border: 1px solid #7a7b7e;
width: 60px;
display: block;
height: 60px;
border-radius: 30px;
position: absolute;
margin-top: 26px;
margin-left: 74%;
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 5px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 5px -5px rgba(0,0,0,0.75);
box-shadow: 1px 4px 5px -5px rgba(0,0,0,0.75);
}
.button_one:hover {
background: #240202;
display: block;
border: 1px solid #7a7b7e;
width: 60px;
height: 60px;
border-radius: 30px;
position: absolute;
margin-top: 26px;
margin-left: 74%;
-webkit-box-shadow: 0px -1px 31px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 31px -5px rgba(0,0,0,0.75);
box-shadow: 0px -1px 31px -5px rgba(0,0,0,0.75);;
}
}
.button_two {
display: none;
background: #8a0000;
border: 1px solid #7a7b7e;
width: 60px;
height: 60px;
border-radius: 30px;
position: absolute;
margin-top: 26px;
margin-left: 74%;
}
@media (max-width: 375px) {
.button_two {
background: #8a0000;
border: 1px solid #7a7b7e;
width: 60px;
display: block;
height: 60px;
border-radius: 30px;
position: absolute;
margin-top: 26px;
margin-left: 74%;
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 5px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 5px -5px rgba(0,0,0,0.75);
box-shadow: 1px 4px 5px -5px rgba(0,0,0,0.75);
}
.button_two:hover {
background: #240202;
display: block;
border: 1px solid #7a7b7e;
width: 60px;
height: 60px;
border-radius: 30px;
position: absolute;
margin-top: 26px;
margin-left: 74%;
-webkit-box-shadow: 0px -1px 31px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 31px -5px rgba(0,0,0,0.75);
box-shadow: 0px -1px 31px -5px rgba(0,0,0,0.75);;
}
}
.info_one {
margin-top: 91px;
position: absolute;
width: 91%;
margin-left: 19px;
height: 282px;
background-color: #040404d9;
z-index: 1;
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}
.info_two {
margin-top: 91px;
position: absolute;
width: 91%;
margin-left: 19px;
height: 282px;
background-color: #040404d9;
z-index: 1;
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
}
.textone {
display: block;
color: white;
margin-left: 52px;
margin-top: 28px;
}
.texttwo {
display: block;
color: white;
margin-left: 52px;
margin-top: 28px;
}
.mobile_main_button {
width: 66%;
margin-left: 18.5%;
height: 27%;
margin-top: 0%;
position: absolute;
z-index: 5;
font-size: 6vw;
color: black;
font-family: 'Righteous', cursive;
border: 0;
background-color: cornflowerblue;
}
.mobile_main_button:hover {
width: 66%;
margin-left: 18.5%;
height: 27%;
margin-top: 0%;
position: absolute;
z-index: 5;
font-size: 6vw;
color: black;
font-family: 'Righteous', cursive;
border: 0;
background-color: rgb(58, 88, 143);
}
.about_me {
    color: #fff;
    text-align: center;
    font-size: 2.3vw;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Righteous';
    text-shadow: 2px 2px 3px #000000;
}